@tailwind base;
@tailwind components;
@tailwind utilities;

.cardContainer {
  position: relative; /* Ensures the element itself is the reference for the glow */
  background: radial-gradient(
    600px circle at var(--mouse-x, 50%) var(--mouse-y, 50%),
    rgb(34 211 238 / var(--tw-bg-opacity, 1)) 20%,
    transparent 40%
  );
  transition: background 0.3s ease;
}